@model IEnumerable<SixNations2017.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Player Index</h2>

<div align = "right">
<form asp-controller="Players" asp-action="Index">
    <p>
       

    <p>

        @using (Html.BeginForm("Index", "Players", FormMethod.Get))
        {
        <p>
            Search: @Html.RadioButton("option", "Name")<text>Name</text>@Html.TextBox("SearchString") <br />
            @Html.RadioButton("option", "Team")<text>Team</text>@Html.TextBox("teamString")
            @Html.RadioButton("option", "Position")<text>Positon</text>@Html.TextBox("positionString")

            <input type="submit" value="Search" />
        </p>
        }
        </p>
         

    </p>
</form>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover">

        <tr class= "success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.Label("International Team")
            </th>
            <th>
                @Html.Label("Tries Scored")
            </th>
            <th>
                @Html.Label("Conversion Scored")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Penalties)
            </th>
            <th>
                @Html.Label("Total Points")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InternationalTeam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TriesScored)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConversionScored)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Penalties)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PointsScored)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    </div>


    <p>
        @Html.ActionLink("Add New Player", "Add")
    </p>
